* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  padding: 50px;
}


.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.padding-50 {
  padding: 50px;
}

.center {
  align-items: center;
}

.shado {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hide {
  display: none;
}

.half-width {
  width: 50%;
  margin: 16px;
}

h1 {
  color: cornflowerblue;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(60, 127, 209, 0.147);
  padding: 0px 20px 0px;
  border: 1px solid blue;
  margin: 20px;
}

.add-item {
  color: white;
  background-color: rgb(37, 75, 244);
  margin: 10px 20px 10px;
  padding: 5px 10px 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  border: 0px;
  cursor: pointer;
}

.item button {
  color: white;
  background-color: red;
  margin: 0px 20px 0px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  border: 0px;
  cursor: pointer;
}

.item button.purchase-mark {
  background-color: rgb(52, 56, 239);
}

.item button.purchased-mark {
  background-color: rgb(26, 118, 43);
}

.item p {
  margin: 10px 20px 10px;
  color: rgb(37, 114, 7);
  font-size: 18px;
  font-weight: bold;
}

.error-message {
  font-size: 20px;
  color: red;
  font-weight: bold;
}


select {
  width: 100%;
  height: 40px;
  margin: 20px 0px 20px;
}

input {
  width: 100%;
  height: 30px;
  margin: 10px 0px 10px;
  height: 40px;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {

  div.flex-row {
    display: block;
  }

  div.flex-row .half-width {
    width: 100%;
  }

  .add-item.hide {
    display: block;
  }

}